/* Smaller Device Responsive code */
@media screen and (max-width: 600px) {
  .nav-logo-title img {
    width: 30.724px;
    height: 33.516px;
  }
  .nav-title {
    /* font-size: 2.2rem; */
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .nav-title .travel-color {
    color: #ff5400;
    font-size: 1.5rem;
    font-weight: 800;
  }
  /* .nav-logo-title h2 {
    margin-right: 20px;
  } */
  .nav-logo-title {
    display: flex;
    gap: 10px;
  }
  .nav-content {
    display: none;
  }
  .nav-icon-small {
    display: block;
  }
  .banner-title {
    font-size: 1.35rem;
    font-weight: 800;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  input {
    width: 163px;
  }
  .popular-container {
    flex-direction: column;
    gap: 25px;
  }
  .popular-title {
    font-size: 1.25rem;
  }
  .popular-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
  }
  /* .popular-destination-img {
    max-width: 100%;
  } */
  .popular-destination-img img {
    width: 100%;
  }
  .popular-content {
    width: 300px;
  }
  .popular-list {
    width: 250px;
  }
  .banner-container {
    margin-bottom: 20px;
  }
  .destination-content {
    width: 90%;
    margin: 40px auto;
  }
  destination-title {
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
  }
  .destination-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  .dest-title {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .destination-imgs {
    grid-template-columns: 1fr;
  }
  .small-device {
    grid-column: 1 span;
    grid-row: 1 span;
  }
  .destination-imgs img {
    height: 176px;
  }
  .popular-container {
    margin-bottom: 20px;
  }

  .choose-item-content {
    flex-direction: column;
  }
  .choose-title-content {
    max-width: 90%;
    margin: 0 auto;
  }
  .choose-item-title {
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
  }
  /* .choose-item-title p {
    padding: 0px;
  } */
  .choose-item-description {
    color: rgba(19, 19, 24, 0.7);
    /* width: 270px; */
    font-size: 14px;
    line-height: 24px; /* 171.429% */
  }
  .why-item {
    max-width: 100%;
  }
  .destination-container {
    margin-bottom: 20px;
  }
  .perfect-container {
    flex-direction: column;
  }
  .popular-content {
    width: 100%;
  }
  .perfect-video {
    width: 100%;
  }
  .perfect-title {
    width: 248px;
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 30px;
  }
  .perfect-description {
    width: 280px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
    line-height: 15px; /* 171.429% */
  }
  .perfect-content ul li {
    width: 250px;
    color: #131318;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px; /* 171.429% */
    padding-top: 10px;
  }
  .choose-container {
    margin-bottom: 20px;
  }
  .perfect-content ul {
    padding-left: 0;
  }
  .news-container {
    flex-direction: column;
    gap: 20px;
  }
  .news-content {
    width: 90%;
    padding: 30px 12px;
  }
  .news-img {
    width: 100%;
  }
  .discount-title {
    font-size: 1rem;
  }
  .discount-price {
    font-size: 1rem;
  }
  .discount-offer {
    bottom: 17%;
    width: 50%;
    padding: 4px 4px 4px;
  }
  .news-info .info-input {
    padding: 0;
  }
  .news-info .news-btn {
    padding-left: 0;
    padding-right: 0;
  }
  .perfect-container {
    margin-bottom: 20px;
  }
}
