/* Smaller Device Responsive code */
@media screen and (max-width: 600px) {
  .nav-logo-title img {
    width: 30.724px;
    height: 33.516px;
  }
  .nav-title {
    /* font-size: 2.2rem; */
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .nav-title .travel-color {
    color: #ff5400;
    font-size: 1.5rem;
    font-weight: 800;
  }
  /* .nav-logo-title h2 {
    margin-right: 20px;
  } */
  .nav-logo-title {
    display: flex;
    gap: 10px;
  }
  .nav-content {
    display: none;
  }
  .nav-icon-small {
    display: block;
  }
  .banner-title {
    font-size: 1.35rem;
    font-weight: 800;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  input {
    width: 163px;
  }
  .popular-container {
    flex-direction: column;
    gap: 25px;
  }
  .popular-title {
    font-size: 1.25rem;
  }
  .popular-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
  }
  /* .popular-destination-img {
    max-width: 100%;
  } */
  .popular-destination-img img {
    width: 100%;
  }
  .popular-content {
    width: 300px;
  }
  .popular-list {
    width: 250px;
  }
  .banner-container {
    margin-bottom: 20px;
  }
}
