/* Font's from google font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* Universal selector Style Section*/
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
/* Shared Style Section */
header,
main {
  /* max-width: 1440px; */
  width: 81.5%;
  margin: 0 auto;
}
/* Nav Bar style Section */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
}
.nav-logo-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-title {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
}
.travel-color {
  color: #ff5400;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-content ul li {
  margin-left: 40px;
}
.nav-content > ul {
  display: flex;
  list-style: none;
}
.nav-content a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}
.nav-content .home-color {
  color: #ff5400;
}
.nav-icon-small a {
  color: #131318;
}
.nav-icon-small {
  display: none;
}
/* Header Banner Style Section */
.banner-container {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  /* width: 1170px; */
  /* height: 500px; */
  /* margin: 0 auto; */
  margin-top: 50px;
  margin-bottom: 100px;
}
.banner-content {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top: 106px;
  border-radius: 16px;
}
.banner-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}
.banner-description {
  color: #fff;
  text-align: center;
  /* line-height: 1.65px; */
  margin-top: 40px;
  margin-bottom: 100px;
}
/* .option-content  Made some Adjustment here */
form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
}
input {
  border-radius: 8px;
  background: #fff;
  width: 174px;
  height: 52px;
  border: none;
  padding-left: 10px;
}
select {
  color: rgba(19, 19, 24, 0.5);
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding-left: 10px;
}
.banner-btn {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  border: none;
  color: white;
  font-weight: 700;
}
/* Popular style Section */
.popular-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.popular-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  /* padding-bottom: 24px; */
}
.popular-description {
  color: rgba(19, 19, 24, 0.7);
  /* width: 575px; */
  line-height: 26px;
  padding: 24px 0;
}
.popular-list {
  color: rgba(19, 19, 24, 0.7);
  width: 700px;
  padding-left: 30px;
  line-height: 26px;
}
.popular-list li {
  padding-left: 16px;
}
.popular-btn {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
/* Destination Style Section */
.destination-content {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}
.destination-title {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.destination-imgs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.destination-imgs img {
  height: 100%;
  width: 100%;
}
.dest-img-1 {
  grid-column: 6 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-2 {
  grid-column: 6 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-3 {
  grid-column: 4 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-4 {
  grid-column: 5 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-5 {
  grid-column: 3 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-6 {
  grid-column: 5 span;
  grid-row: 1 span;
  position: relative;
}
.dest-img-7 {
  grid-column: 7 span;
  grid-row: 1 span;
  position: relative;
}

.dest-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.destination-container {
  margin-bottom: 100px;
}
/* Why Choose Us Style Section */
.choose-title-content {
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
}
.choose-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.choose-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1.2rem;
  line-height: 26px;
}
.choose-item1 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 30px;
}
.choose-item-title {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 15px;
}
.choose-item-description {
  color: #5a5a5d;
  font-size: 1rem;
  line-height: 26px;
}
.choose-item2 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 30px;
}
.choose-item3 {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 30px;
  margin: 0 auto;
}
.choose-item-content {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 24px;
  margin-top: 48px;
}
.choose-container {
  margin-bottom: 100px;
}
